@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.loader{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  animation: delete 2s; 
  animation-delay:3s;
  animation-fill-mode: both;
  z-index: 1;
  justify-content: center;
  align-items: center;
  }
 .loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #FF79DA;
  border-bottom: 16px solid #9356DC; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 180px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); opacity:0; }
}

@keyframes delete { 

100%
{ opacity: 0;z-index: -10;} 
}

.lettre{
  color: #484848;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 180px;
  animation-iteration-count: 1;
  animation: flash 5s ease infinite ;
  animation-duration: 0.9s;
}

@keyframes flash 
{
0%
{
color: #FF79DA;
text-shadow: 0 0 40px #FF79DA;
}

50% { color: #9356DC;
text-shadow: none;; }

100%{ color: #FF79DA;
text-shadow: 0 0 40px #FF79DA;
opacity: 0; }
}

.lettre:nth-child(1) {animation-delay: 0.1s}
.lettre:nth-child(2) {animation-delay: 0.2s}
.lettre:nth-child(3) {animation-delay: 0.3s}
.lettre:nth-child(4) {animation-delay: 0.4s}
.lettre:nth-child(5) {animation-delay: 0.5s}
.lettre:nth-child(6) {animation-delay: 0.6s}
.lettre:nth-child(7) {animation-delay: 0.7s}
.lettre:nth-child(8) {animation-delay: 0.8s}
@media screen and (max-width: 1080px) {
#bloc_page
{
  max-width: 1080px;
  margin: auto;
  font-family: "Roboto";
}


p {
  font-size: 22px;
}

a {
  font-family: "Roboto";
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

#titre_page {
  width: 100%;
  margin: auto;
  text-align: center;
  height: 130px;
  margin-bottom: 5px;
  padding-top: 40px;
  box-shadow: 0px 5px 0px -1px grey;
}

.logo {
  width: 500px;
}

.navigation {
  width: 100%;
  display: flex;
  font-weight: bold;
  justify-content: center;
  background-color: #EAEAEA;
  margin: auto;
}

.navigation p {
  margin-right: 110px;
  font-size: 42px;
  font-weight: bold;
}

.map {
  margin-right: 50px;
}

.recherche {
  background-color: #F6F6F6;
  margin: auto;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.recherche h1, .recherche p, .recherche div {
  width: 70%;
  align-self: center;
}

.recherche h1 {
  font-size: 70px;
}

.recherche p {
  font-size: 50px;
  margin-top: 0px;
  width: 90%;
}

.btn {
  width: 480px;
  height: 120px;
  border-radius: 70px;
  background-color: #9356DC;
  border: #9356DC;
  font-size: 40px;
  color: white;
  box-shadow: 2px 5px 10px grey;
  background-image: radial-gradient(farthest-corner at 40px 0, #FF79DA 0%, #9356DC 100%);
  box-shadow: 2px 8px 10px #EAEAEA;
}
.btn:hover{opacity: 0.8;}

/*foonctionnement*/
/*titre fonctionnement*/
.fonc {
  width: 700px;
  margin-top: 120px;
  margin-left: 15px;
  font-size: 50px;
}

/*conteneur*/
.liste {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  height: 850px;
  margin: 50px auto;
}

/*element*/
.choix, .restaurant, .composition {
  height: 150px;
  border-radius: 80px;
  background-color: #F6F6F6;
  font-size: 50px;
  padding-top: 80px;
  box-shadow: 2px 5px 10px grey;
}

.liste a {
  margin-left: 50px;
}

.liste span {
  background-color: #9356DC;
  border: solid 2px #9356DC;
  border-radius: 50%;
  padding: 8px 15px 8px 15px;
  margin: 0 50px 0 -20px;
  color: white;
}

/*titre restaurant*/
.resto {
  margin-left: 15px;
  font-size: 50px;
}

/*restaurant*/
#restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #F6F6F6;
  width: 100%;
  margin: auto;
  padding-bottom: 80px;
}

/*item restaurant*/
.resto_choix {
  background-color: white;
  width: 90%;
  margin: 20px auto;
  height: 550px;
  border-radius: 30px;
  box-shadow: 2px 8px 10px #EAEAEA;
}

.nouv {
  border-radius: 3px;
  background-color: #99e2d0;
  color: #217460;
  padding: 5px;
  position: absolute;
  font-size: 30px;
  margin-left: 720px;
  margin-top: 15px;
}

.nouv_2 {
  border-radius: 3px;
  background-color: #99e2d0;
  color: #217460;
  padding: 5px;
  position: absolute;
  font-size: 30px;
  margin-left: 720px;
  margin-top: 15px;
}

.resto_images {
  width: 100%;
  height: 400px;
}

.resto_images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0px 0px;
}

.resto_flex_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  height: 85px;
  margin-left: 10px;
}

.ville {
  font-size: 25px;
  margin-left: 10px;
  font-weight: normal;
}
.like{
  cursor:pointer;
  color:#fff;
  margin: 40px 40px;
  height: 45px;
  font-size: 45px;
  -webkit-text-stroke:2px #000;
  -o-transition:all 5s;
  transition:all 5s;
  -webkit-transition:all 5s}

.like:hover{
  -webkit-text-stroke:1px transparent;
  background:-webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background:-o-linear-gradient(top left, #FF79DA, #9356DC);
  background:linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;}
/*pied de page*/
.footer{
  background-color: #353535; 
  width: 100%;   
  padding-top: 5px; 
  color: white;
  font-size: 28px;
  padding-bottom:30px;
  font-weight: normal;}
.footer h3{margin-left: 30px; font-family: "Shrikhand";font-weight: normal; font-size: 30px; }
.footer div {margin-bottom: 5px;margin-left: 30px;}
.footer i{ margin-right: 10px;}
}

@media screen and (min-width: 1081px) {
#bloc_page {
  max-width: 1440px;
  margin: auto;
  font-family: "Roboto";
  }

#titre_page {
  width: 1200px;
  margin: auto;
  text-align: center;
  height: 70px;
  }

.logo {
  width: 300px;
  }

.navigation {
  display: none;
  }

.recherche {
  background-color: #F6F6F6;
  width: 1200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;
  }

.recherche h1, .recherche p, .recherche div {
  width: 600px;
  align-self: center;
  }

.recherche h1 {
  font-size: 40px;
  }

.recherche p {
  font-size: 28px;
  margin-top: 0px;
  }

.btn {
  width: 350px;
  height: 50px;
  border-radius: 50px;
  background-color: #9356DC;
  border: #9356DC;
  font-size: 18px;
  color: white;
  }

  /*foonctionnement*/
  /*titre fonctionnement*/
.fonc {
  width: 1200px;
  margin: 45px auto;
  font-size: 30px;
  }

  /*conteneur*/
.liste {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  height: 100px;
  margin: 0px auto;
  }

  /*element*/
.choix, .restaurant, .composition {
  height: 50px;
  width: 300px;
  border-radius: 30px;
  background-color: #F6F6F6;
  padding: 25px 0px 0px 0px;
  font-size: 18px;
  }

.liste a {
  margin-left: 20px;
  }

.liste span {
  margin-right: 20px;
  background-color: #9356DC;
  border: solid 2px #9356DC;
  border-radius: 50%;
  padding: 2px 8px 2px 8px;
  margin: 0 5px 0 -10px;
  color: white;
  }

  /*restaurant*/
#restaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #F6F6F6;
  width: 100%;
  margin: auto;
  border-radius: 20px;
  }

  /*titre restaurant*/
.resto {
  height: 20px;
  margin-left: 10px;
  margin-bottom: 60px;
  width: 1200px;
  font-size: 30px;
  }

  /*item restaurant*/
.resto_choix {
  background-color: white;
  width: 540px;
  margin: auto;
  height: 390px;
  margin-bottom: 30px;
  border-radius: 30px;
  }

.nouv {
  border-radius: 3px;
  background-color: #99e2d0;
  color: #217460;
  padding: 5px;
  position: absolute;
  font-size: 15px;
  margin-left: 15px;
  margin-top: 15px;
  }

.nouv_2 {
  border-radius: 3px;
  background-color: #99e2d0;
  color: #217460;
  padding: 5px;
  position: absolute;
  font-size: 15px;
  margin-left: 15px;
  margin-top: 15px;
  }

.resto_images {
  width: 100%;
  height: 300px;
  margin-right: 5px;
  }
.resto_images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0px 0px;
  }

.resto_flex_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 45px;
  margin-left: 40px;
  font-size: 20px;
  }

.ville {
  margin-left: 40px;
  font-size: 15px;
  font-weight: normal;
  }

.like {
  width: 10px;
  padding: 25px;
  }

  /*pied de page*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #353535;
  width: 100%;
  height: 200px;
  margin:70px 0 0 0;
  padding-top: 5px;
  color: white;
  }

.footer h3 {
  width: 1200px;
  font-family: "Shrikhand";
  font-weight: normal;
  }

.footer h3, .footer div {
  margin-left: 30px;
  }

.footer div {
  margin-bottom: 60px;
  margin-right: 120px;
  }

.footer i {
  margin-right: 10px;
  }

.like {
  width: 10px;
  padding: 25px;
}

.like{
  cursor:pointer;
  color:#fff;
  -webkit-text-stroke:2px #000;
  -o-transition:all 5s;
  transition:all 5s;
  -webkit-transition:all 5s}

.like:hover{
  -webkit-text-stroke:1px transparent;
  background:-webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background:-o-linear-gradient(top left, #FF79DA, #9356DC);
  background:linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;}

a {
  font-family: "Roboto";
  text-decoration: none;
  color: inherit;
}

.btn {
  width: 250px;
  height: 70px;
  border-radius: 70px;
  background-color: #9356DC;
  border: #9356DC;
  font-size: 15px;
  color: white;
  box-shadow: 2px 5px 10px grey;
  background-image: radial-gradient(farthest-corner at 40px 0, #FF79DA 0%, #9356DC 100%);
  box-shadow: 2px 8px 10px #EAEAEA;
}
.btn:hover{opacity: 0.8;}
.recherche {
  background-color: #F6F6F6;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
}

/*# sourceMappingURL=.style.css.map */
